
.block-item {
	margin: 0;
	padding: 20px 0;
	cursor: pointer;
	position:relative;
	left:0;
	right:0;
	a {
		text-decoration: none;
	}
	.post__title, .post__time {
		text-align: center;
		color: #FFF;
		margin: 0;
	}
	.post__time {
		margin: 5px 0;
	}
	.post__author {
		text-decoration: underline;
	}
	.post__extract {
		text-align: center;
	}
}

.block-content {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
}

/* Lista */

@for $i from 1 through length($colours) {
	.block-item:nth-of-type(#{$i}) {
		background-color: nth($colours, $i);
		&:hover {
			background-color:lighten(nth($colours, $i), 5%);
		}
	}
	
}

.block-post {
	header {
		padding: 20px 0;
	}
	.post__title, .post__time {
		text-align: center;
		margin: 0;
	}
	.post__time {
		margin: 5px 0;
	}
	.post__title {
		color: $color-primary;
	}
	.post__footer {
	
	}
}

.post__content {
	p img {
		width: 120%;
		margin-left: -10%;

		@media only screen and (max-width:860px) {
			width: 100%;
			margin-left: auto;
		}
	}
}