
html,body {
	font-family: $font-primary;
	font-weight: normal;
	line-height: 1.5em;

	background-color: #FFF;
}
a {
	color: $color-secondary;
	&:hover {
		color: $color-primary;
		text-decoration: none;
	}
}

ul {
	list-style-type: square;
	margin-left: -40px;
	margin-bottom: 80px;
}

pre, code {
	background-color: $color-dark;
	color: $color-light;
}
pre {
	counter-reset: line-numbering;
}

/* Add the incrementing line number before each .line */
pre .line:before {
	content: counter(line-numbering);
	counter-increment: line-numbering;
	padding-right: 1em; /* space after numbers */
	width: 1.5em !important;
	color: #fff !important;
	display: inline-block;
	text-align: right;
	opacity: 0.3;
}

/* Style the pre element itself */
pre {
	padding: 10px 20px 10px 10px;
	border: 1px solid #888;
	margin: 20px 0 40px 0;
	border-left: 4px solid #888;
	overflow-x: auto;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid $color-primary;
	margin: 1.5em 0 1.5em -20px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
  font-style: italic;
}

.twitter-tweet {
	width: 100%;
	margin: 30px 0;
}

img {
	width: 100%;
	height: auto;
	margin: 20px 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}