
.list-of-posts {
	max-width: 800px;
	margin: 0 auto;
}

.block-item {
	margin: 0;
	padding: 20px 0;

	.post__title, .post__time {
		text-align: center;
		margin: 0;
	}
	.post__extract {
		text-align: center;
	}
}