

.block-item {
	margin: 0;
	padding: 20px 0;
	a {
		text-decoration: none;
	}
	.post__title, .post__time {
		text-align: center;
		margin: 0;
	}
	.post__extract {
		text-align: center;
	}
}

.block-content {
	max-width: 800px;
	margin: 0 auto;
}

/* Lista */

@for $i from 1 through length($colours) {
	.block-item:nth-of-type(#{$i}) {
		position:relative;
		left:0;
		right:0;
		background-color: nth($colours, $i);
		.post__title, .post__time,  .post__title a, .post__content{
			color: #FFF;
		}
		&:hover {
			// background-color:darken(nth($colours, $i), 50%);
			background-color:lighten(nth($colours, $i), 5%);
		}
	}
	
}

.block-post {
	header {
		padding: 20px 0;
	}
	.post__title, .post__time {
		text-align: center;
		margin: 0;
	}
	.post__title {
		color: $color-primary;
	}
	.post__footer {
	
	}
}