
html,body {
	font-family: $font-primary;
	font-weight: normal;
	line-height: 1.5em;

	background-color: #FFF;
}
a {
	&:hover {
		color: $color-primary;
		text-decoration: none;
	}
}

pre, code {
	background-color: $color-dark;
	padding: 10px;
	color: $color-light;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid $color-primary;
	margin: 1.5em 0;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
  font-style: italic;
}

img {
	width: 100%;
	height: auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}