
/* Globals */

* {
	color: $color-dark;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	font-weight: 700;
	line-height: 1.5em;
}
h1 { font-size: 42px; @media only screen and (max-width:637px) { font-size: 30px; } }
h2 { font-size: 34px; @media only screen and (max-width:637px) { font-size: 24px; } }
h3 { font-size: 28px; @media only screen and (max-width:637px) { font-size: 18px; } }
h4 { font-size: 22px; @media only screen and (max-width:637px) { font-size: 12px; } }
h5 { font-size: 18px; @media only screen and (max-width:637px) { font-size: 10px; } }
h6 { font-size: 16px; @media only screen and (max-width:637px) { font-size: 8px; } }

p, li { 
	font-family: $font-secondary; 
	font-weight: 400;
	line-height: 1.6em;
	font-size: 18px;
	@media only screen and (max-width:637px) {
		font-size: 16px;
	}
}

code {
	font-family: $font-tertiary;

	@media only screen and (max-width:637px) {
		font-size: 16px;
	}
}

/* Header */

.brand-logo {
	.brand-main-text, .brand-sub-text {
		font-size: 16px;
		line-height: .5;
	}
	.brand-main-text {
		font-family: $font-primary;
		font-weight: 600;
		color: $color-primary;
	}
}

/* Content */

.block-item {
	.post__title, .post__title a{
		font-family: $font-primary;
		font-size: 60px;
		font-weight: 700;
		color: $color-secondary;
		line-height: 1em;
		text-decoration: none;
		position: relative;
		display: block;
		@media only screen and (max-width:637px) {
			font-size: 30px;
		}
	}
	.post__time {
		font-size: 16px;
		a {
			color: #fff;
		}
		
		@media only screen and (max-width:637px) {
			font-size: 14px;
		}
	}
}

.block-featured {
	.post__title, .post__title a{

	}
}

.block-post {
	.post__title, .post__time {
		font-family: $font-primary;
	}
	.post__title {
		color: $color-secondary;
		font-size: 60px;
		font-weight: 700;
		line-height: 1em;
		@media only screen and (max-width:637px) {
			font-size: 30px;
		}
	}
	.post__time {
		color: #999;
		font-size: 16px;
		font-family: $font-primary;
		@media only screen and (max-width:637px) {
			font-size: 14px;
		}
	}
	.post__content {
		p:first-of-type {
			font-size: 22px;
			@media only screen and (max-width:637px) {
				font-size: 18px;
			}
		}
	}
	.post__footer {
		padding: 30px 0;
	}
}

.grand-footer {
	p {
		font-size: 16px;
	}
}