
/* Globals */

* {
	color: $color-dark;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-secondary;
	font-weight: 600;
}

/* Header */

.brand-logo {
	.brand-main-text, .brand-sub-text {
		font-size: 16px;
		line-height: .5;
	}
	.brand-main-text {
		font-family: $font-primary;
		font-weight: 600;
		color: $color-primary;
	}
}

/* Content */

.block-item {
	.post__title, .post__title a{
		font-family: $font-secondary;
		font-weight: 700;
		color: $color-primary;
		text-decoration: none;
		position: relative;
		display: block;

		&:hover {
			text-decoration: underline;
		}
	}
}

.block-featured {
	.post__title, .post__title a{

	}
}
