
/* Colors */
$color-dark: #2D2D29;
$color-light: #DFECE6;
$color-primary: #215A6D;
$color-secondary: #3CA2A2;

/* Add a new colour at the begining */
$colours: #57C0DC, #0083C8, #7F8C8D, #E74C3C, #8E44AD, #1ABC9C, #2980B9, #D35400, #2C3E50;

/* Fonts */
$font-primary: 'Droid Sans', sans-serif;
$font-secondary: 'Droid Serif', serif;
$font-tertiary: 'Droid Sans Mono', sans-serif;

