
/* Colors */
$color-dark: #2D2D29;
$color-light: #DFECE6;
$color-primary: #215A6D;
$color-secondary: #3CA2A2;

/* Fonts */
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Crimson Text', serif;

/* Font size */

$h1: 5.063em;
$h2: 3.375em;
$h3: 2.25em;
$h4: 1.5em;
$h5: 1em;
$h6: 0.667em;