
/* Colors */
$color-dark: #2D2D29;
$color-light: #DFECE6;
$color-primary: #215A6D;
$color-secondary: #3CA2A2;

$colours: #2980B9, #D35400, #2C3E50, #3498DB, #F39C12;

/* Fonts */
$font-primary: 'Droid Sans', sans-serif;
$font-secondary: 'Droid Serif', serif;
$font-tertiary: 'Droid Sans Mono', sans-serif;

