<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }} &ndash; Ricardo Ram&iacute;rez &ndash; Front~end developer</title>
		<meta name="description" content="Front~end developer">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="/favicon.png" />

		<link rel="stylesheet" href="{{ site.url }}/css/ricardoerl.min.css">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Crimson+Text:400,600' rel='stylesheet' type='text/css'>

		<script src="{{ site.url }}/js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<section class="grand-header">
			<div class="container">
				<div class="brand-logo">
					<a href="/"><h1 class="brand-main-text">Ricardo Ram&iacute;rez</h1></a>
					<span class="brand-sub-text">Front~end Developer</span>
				</div>
			</div>
		</section>
		
		<div class="container">
			{{ content }}
		</div>

		<section class="grand-footer">
			<div class="container">
				<nav class="navigation">
					<a href="#">Ricardo Ram&iacute;rez</a>
					<a href="#">Perfil</a>
					<a href="#">Twitter</a>
				</nav>
			</div>
		</section>

		<script src="{{ site.url }}/js/vendor/jquery-1.10.2.min.js"></script>
		<script src="{{ site.url }}/js/main.js"></script>

	</body>
</html>