---
layout: default
comments: true
---

<article class="block-post">
	<div class="block-content">
		<header>
			<h1 class="post__title" style="color: #{{ page.color }};">{{ page.title }}</h1>
			<p class="post__time">Publicado un {{ page.date | date: "%-d/%-m/%Y" }} por <a href="http://www.ricardoramirez.me/" class="post__author" target="_blank">Ricardo Ram&iacute;rez</a></p>
		</header>
		
		<div class="post__content">
			{{ content }}
		</div>
	
		<footer  class="post__footer">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ricardoerl.com{{page.url}}"  data-via="ricardoerl" data-text="{{ page.title }}" data-lang="es" data-size="large" data-count="none" data-related="ricardoerl">Tweet</a>
		</footer>
	</div>
</article>