---
layout: default
---

<article class="block-post">
	<div class="block-content">
		<header>
			<h1 class="post__title">{{ page.title }}</h1>
			<p class="post__time">Publicado {{ page.date | date: "%m&ndash;%d&ndash;%Y" }}</p>
		</header>
		<div class="post__content">
			<p>{{ content }}</p>
		</div>
		<footer  class="post__footer">
			<a href="https://twitter.com/share" url="" class="twitter-share-button" data-via="ricardoerl" data-related="ricardoerl" data-text="{{ page.title }}" data-url="{{ page.url }}" data-lang="es" data-size="large" data-count="none" data-related="ricardoerl">Tweet</a>
		</footer>
	</div>
</article>